PORT=
NODE_ENV=
DATABASE_URL=
# paste this `openssl rand -base64 32` in your terminal to generate yours
JWT_SECRET_KEY= 
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
MAIL_SMTP_PORT=
MAIL_SMTP_HOST=
MAIL_SENDER_EMAIL=

# redis 
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TLS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# paystack
PAYSTACK_SECRET_KEY=